.pager li .active_link {
background: #000 !important;
}

h1{color: coral;
}
h3{color: deeppink}
h4{color: cornflowerblue}
h5{color: dodgerblue}
body{background-color: antiquewhite;}

.error {
    background: orangered;
    color: palegreen;
    padding: 5px;
    margin: 5px;
}
/*
img {
           width: 100px;
             height:; 
            border-radius: 100px;
            object-fit: cover;
}*/
